body{
            background-image: url(image/BG.png);
            background-size:cover;
}

.srch{
    font-size: 20px;
}

.Order{
    margin-right:0px;
}

.Search{
    margin-top:50px;
    margin-left:0px;
}
