html{background-image:url("Bootstrap/image/movie.jpg");
     background-size:cover;
     
}

#wrapper {
position:relative;
margin-top: 150px;
}

#table{
    width: 100%;
    height:100%;
    
}
table{
margin-top: 150px;

}
