body{
            background-image: url(image/BG2_1.jpg);
            background-size:cover;
            background-repeat: no-repeat;
}

.AM{
    color: #31b0d5;
}

.LogIn{
    color: #31b0d5;
    font-size: 25px;
}

.SU{
    color: #31b0d5;
    font-size: 25px;  
}

.SUN{
    color: #31b0d5;
    font-size: 20px;
}

.WTOS{
    color: #ffffff;
    font-size: 20px;
}

.row{
    color: #ffffff;
    font-size: 20px;
}

.ANI{
    color: #31b0d5;
    font-size: 20px;
}

.AddrBook{
    color: #31b0d5;
    font-size: 20px;
}

.Cover{
    color: #31b0d5;
    font-size: 20px;
}

.warning{
    color: #31b0d5;
    font-size: 20px;
}

.View{
    color: #31b0d5;
    font-size: 20px;
}

.Update{
    color: #31b0d5;
    font-size: 20px;
}
.Error{
    color: #ff0000;
    font-size: 20px;
}

.Error2{
    color: #ff0000;
    font-size: 15px;
}

.Error3{
    color: #ff0000;
    font-size: 15px;
}

